<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocialService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LZ4" publicKeyToken="62e1b5ec1eec9bdd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.15.93" newVersion="1.0.15.93" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SocialService.Properties.Settings>
      <setting name="ID_korisnik" serializeAs="String">
        <value>1</value>
      </setting>
    </SocialService.Properties.Settings>
  </userSettings>
</configuration>
